/__pycache__
/.vscode
/unit_test/__pycache__/*
/d435_camera/*.py
/d435_camera/__pycache__/*
/d435_camera/test_cases/*
/d435_camera/test_cases/lab_corridor/*
/examples/__pycache__
/test/__pycache__
/test_cases/*
/mobilenet_segment/__pycache__/*
/mobilenet_segment/ckpt/*
#/mobilenet_segment/data/*
/mobilenet_segment/teaser/*
/mobilenet_segment/test_set/*
/mobilenet_segment/config/__pycache__/*
/mobilenet_segment/lib/__pycache__/*
/mobilenet_segment/models/__pycache__/*
/mobilenet_segment/lib/utils/__pycache__/*
/mobilenet_segment/lib/nn/__pycache__/*
/mobilenet_segment/lib/nn/modules/__pycache__/*
/mobilenet_segment/lib/nn/parallel/__pycache__/*

